@model List<UserModel>
@{
    ViewData["Title"] = "Listagem de Usuários";
}

<div class="text-center">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a role="button" class="btn btn-success" asp-controller="User" asp-action="Criar">Adicionar novo usuário</a>
    </div>

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-outline-danger btn-sm close-alert">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-outline-danger btn-sm close-alert">X</button>
            @TempData["MensagemErro"]
        </div>
    }
    <h1 class="display-4">Listagem de usuários</h1>

    <table class="table" id="tabelaUsuarios">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Login</th>
                <th scope="col">Email</th>
                <th scope="col">Perfil</th>
                <th scope="col">Total de Contatos</th>
                <th scope="col">Data Cadastro</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.Nome</td>
                        <td>@item.Login</td>
                        <td>@item.Email</td>
                        <td>@(item.Perfil == CadastroDeContatos.Enums.PerfilEnum.Admin ? "Administrador" : "Padrão")</td>
                        <td>
                            <a href="javascript:" usuario-id="@item.Id" class="btn btn-success btn-sm btn-total-contatos" asp-controller="User" asp-action="ListarContatoPorUsuarioId">
                                @(item.Contatos != null && item.Contatos.Any() ? item.Contatos.Count() : 0)
                                </a>
                        </td>
                        <td>@item.DataCadastro</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a role="button" class="btn btn-primary" asp-route-id="@item.Id" asp-controller="User" asp-action="editar">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@item.Id" asp-controller="User" asp-action="ApagarConfirmacao">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <div id="modal-contatos-usuario" class="modal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Listagem de contatos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    style="font:bold">X</button>
                </div>
                <div class="modal-body">
                    <div id="lista-contatos-id"></div>
                </div>
            </div>
        </div>
    </div>
</div>